main
{
    display: block;
    flex-direction: row;
    align-items: normal;
}

div.gallery
{
    top: 150px;
    width: 95%;
    left: 2.5%;
    right: 2.5%;
}

img.for-gallery
{
    margin: 0 auto;
    width: 350px;
    height: 350px;
}

.slick-dots li button:before
{
  font-size: 15px;
  color:#EE9C6C !important;
}

li.slick-active > button::before
{
  font-size: 20px;
}

.slick-dots
{
  font-size: 20px;
  bottom: -60px;
}

.slick-prev:before,
.slick-next:before
{
  font-size: 32px;
  color: #EE9C6C ;
}
