div.calculator
{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f4f4;
    border:#dac034 solid 5px;
    border-radius: 10px;
    padding: 10px;
}

div#result
{
    background-color: #cacaca;
    border-radius: 10px;
    padding: 5px;

}

input#number
{
    margin-bottom: 5px;
}